* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav * {
    color: black !important;
}

.nav-bg {
    background-color: #ffffff
}

body {
    /* overflow-x: hidden; */
    font-family: 'Epilogue', sans-serif;
}

.dropdown-menu {
    width: 250px;
    box-shadow: 0px 0px 4px 0px rgb(212, 212, 212);
}

.hero-section {
    background-color: #E6F8F9;


}

.hero {
    width: 90%;
    height: 827px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;


}

.hero-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.mon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.mon p {

    background-color: #FFC2D6;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 7px;

}

.mon h1 {
    width: 450px;
    font-size: 4rem;
    color: #1B1642;
    font-weight: bolder;
}

.mon h6 {

    font-weight: normal;

    line-height: 25px;
    color: #777478;
    font-size: 15px;
}

.mon button {
    background-color: #00BFB1;
    padding: 12px 50px;
    font-size: 17.2px;
    border-radius: 5px;
    border: none;
}

.kg,
.kg2 {
    width: 300px;
    height: 496px;
}

.kg2 {
    margin-top: 16rem;

}

.mid-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10rem 0 0 0;

}

.son {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    /* width:80% ; */
}

.son h1 .we {
    text-decoration: line-through;
}

.son h1 .wen {
    color: #00BFB1;
}



.son button {


    background-color: #00BFB1;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.mid-section-img {
    width: 100%;

}


iframe {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0;
}

.sp {
    margin-top: 120px;
    text-align: center;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sp h1 {
    font-size: 50px;
    width: 600px;
    margin-bottom: 30px;
}

.sp p {
    color: #7D7B94;
}

.ppl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 120px;
    /* width: 1200px; */
    /* padding: 60px; */
}

.ppl img {
    margin-left: 15px;
    margin-bottom: 15px;
    height: 130px;
    border-radius: 50%;
}

.ppl h3 {
    font-size: 20px;
}

.ppl h3,
.ppl p {
    text-align: center;
}

.bac {
    width: 100%;
    height: 500px;
    background-color: #1B1642;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200PX;
}

.bac h1 {
    color: #D2D0DB;
    text-align: center;
    width: 1300px;
    padding: 100px;
    font-size: 2.2rem;
}

.bac>div {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 70px;
}

.bac div img {
    height: 100px;
}

.bac div h3 {
    font-size: 1.3rem;
    color: #1BD3C6;
}

.bac p {
    font-size: 1rem;
    color: #797492;
    text-align: start;
}

.pal {
    width: 100%;
    padding: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}

.pal h1 {
    font-size: 3rem;
    text-align: center;
}

.pal p {
    color: #7D7B94;
    text-align: center;
    width: 700px;
    margin-top: 40px;
    margin-left: 200px;
    font-size: 1.2rem;
}

.pal img {
    height: 320px;
    margin-top: 50px;
    margin-left: 25px;
}

.alk {
    width: 1160px;
    height: 500px;
    background-color: #1BD3C6;
    border-radius: 15px;
    margin-left: 60px;
}

.alk h1 {
    padding: 150px 0 0 0;
    text-align: center;
    font-size: 3.1rem;
    color: #1B1642;
}

.alk button {
    padding: 15px 20px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    margin: 60px 0 0 400px;
}

.alk .bit {
    margin-left: 5px;
    background-color: #171338;
    color: #ffffff;
}

.last {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-color: #1B1642;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kim {
    margin-left: 60px;
    margin-top: -220px;
}

.S {
    background-color: #00BFB1;
    height: 22px;
    padding: 2px 0 0 0;
    border-radius: 5px;
    width: 22px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.kim h4 {
    font-size: 1.3rem;
    color: #00BFB1;
    font-weight: bold;
    margin: -21px 0 0 30px;
}

.kim p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 800;
    margin: 8px 0;
}

.abc {
    margin-top: -5px;
    margin-left: 400px;
    text-align: start;
    gap: 50px;
}

.abc h1 {
    font-size: 1rem;
    color: #797492;
    margin: 10px 0;
}

.abc p {
    width: 150px;
    /* gap: 60px; */
    text-align: start;
    line-height: 40px;
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
}

.abd {
    margin-top: -130px;
    margin-left: 40px;
    text-align: start;
    gap: 50px;
}

.abd h1 {
    font-size: 1rem;
    color: #797492;
    margin: 10px 0;
}

.abd p {
    width: 150px;
    text-align: start;
    line-height: 40px;
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
}

.abe {
    margin-top: -205px;
    margin-left: 40px;
    text-align: start;
    gap: 50px;
}

.abe h1 {
    font-size: 1rem;
    color: #797492;
    margin: 10px 0;
}

.abe p {
    width: 150px;
    text-align: start;
    line-height: 40px;
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
}

/* Media query for small screens (mobile devices) */
/* @media all and (max-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .mon .kg,
    .mon .kg2 {
        display: none;
    }
} */
@media only screen and (max-width: 797px) {
    .hero {
        width: 95%;


    }

    .kg,
    .kg2 {
        display: none;
    }


    .mon p {

        background-color: #FFC2D6;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 7px;

    }

    .mon h1 {
        width: auto;
        font-size: 4rem;
    }

    .mon h6 {

        font-weight: normal;
        font-size: 15px;
    }

    .mon button {
        background-color: #00BFB1;
        padding: 12px 50px;
        font-size: 17.2px;
        border-radius: 5px;
        border: none;
    }

    .ppl {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px 30px;
        width: 90%;
        margin: 0 auto;
        /* width: 1200px; */
        /* padding: 60px; */
    }

    .ppl img {
        /* margin-left: 15px;
        margin-bottom: 15px; */
        height: 130px;
        border-radius: 50%;
    }

    .ppl h3 {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .ppl p {
        font-size: 0.7rem;
    }

    /* .ppl h3,
    {
        text-align: center;
    } */

    iframe {
        width: 80%;
        height: auto;
        margin: 0 auto;

        /* display: block; */
        /* margin: 650px auto; */
    }
    .mid-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 50px;
        padding: 10rem 0;
    
    }
    
    .son {
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* width:80% ; */
    }
    
    .son h1 .we {
        text-decoration: line-through;
    }
    
    .son h1 .wen {
        color: #00BFB1;
    }
    
    /* .son p {
       
        
        margin-top: 340px;
        width: 420px;
        font-size: 17px;
        color: #777478;
        word-spacing: 2.7px;
    } */
    
    .son button {
        background-color: #00BFB1;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }
    
    .mid-section-img {
        width: 100%;
  
    }
    
    .sp {
        margin-top: 10px;
        border: 2px solid red;
    }
    .sp h1 {
        font-size: 2rem;
        width: auto;
        margin-bottom: 30px;
        border: 2px solid red;
    }
    
    .sp p {
        color: #7D7B94;
    }
    

}

/* Media query for tablets (medium screens) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}